/*! -----------------------------------------------------
  app.scss

  This file compiles to /public/assets/css/app.min.css
  You should use it build your css rainbows.

  Contents
    Fonts
    Bootstrap
    Global
    Base structure
    Header
    Cover
    Quotes
    Footer
    Afix and center

--------------------------------------------------------- */

/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import '../vendor/font-awesome/scss/font-awesome';

/*
 * Bootstrap
 */

/* Core variables & mixins */
@import '../vendor/bootstrap/scss/variables';
@import '../vendor/bootstrap/scss/mixins';

/* Reset and dependencies */
@import '../vendor/bootstrap/scss/normalize';
@import '../vendor/bootstrap/scss/print';

/* Core CSS */
@import '../vendor/bootstrap/scss/images';
@import '../vendor/bootstrap/scss/code';
@import '../vendor/bootstrap/scss/grid';
@import "../vendor/bootstrap/scss/tables";
@import '../vendor/bootstrap/scss/forms';
@import '../vendor/bootstrap/scss/buttons';

/* Components */
@import '../vendor/bootstrap/scss/animation';
@import '../vendor/bootstrap/scss/dropdown';
@import "../vendor/bootstrap/scss/button-group";
@import "../vendor/bootstrap/scss/input-group";
@import '../vendor/bootstrap/scss/custom-forms';
@import '../vendor/bootstrap/scss/nav';
@import '../vendor/bootstrap/scss/navbar';
@import '../vendor/bootstrap/scss/card';
@import "../vendor/bootstrap/scss/breadcrumb";
@import "../vendor/bootstrap/scss/pagination";
@import "../vendor/bootstrap/scss/pager";
@import '../vendor/bootstrap/scss/labels';
@import '../vendor/bootstrap/scss/jumbotron';
@import "../vendor/bootstrap/scss/alert";
@import "../vendor/bootstrap/scss/progress";
@import '../vendor/bootstrap/scss/media';
@import '../vendor/bootstrap/scss/list-group';
@import '../vendor/bootstrap/scss/responsive-embed';
@import "../vendor/bootstrap/scss/close";

/* Components w/ JavaScripts */
@import '../vendor/bootstrap/scss/modal';
@import "../vendor/bootstrap/scss/tooltip";
@import "../vendor/bootstrap/scss/popover";
@import '../vendor/bootstrap/scss/carousel';

/* Utility classes */
@import '../vendor/bootstrap/scss/utilities';
@import '../vendor/bootstrap/scss/utilities-spacing';
@import '../vendor/bootstrap/scss/utilities-responsive';

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family: 'Raleway', serif;
}

.h3 {
  font-size: 1.5rem;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

<<<<<<< HEAD
=======
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

/*
 * Quotes
 */
.quotes {
  .blockquote {
    margin: 0 auto 2rem;
    border-left: 0 none;
    @include media-breakpoint-up(md) {
      max-width: 60rem;
      margin-bottom: 4.5rem;
    }
    > img {
      margin-bottom: 1.5625rem;
      border: 4px solid #fff;
    }
    p {
      margin-bottom: .9375rem;
      font-weight: 400;
      line-height: 1.464;
      &:before {
        content: '\f10d';
      }
      &:after {
        content: '\f10e';
      }
    }
    footer {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.1875;
      color: #fff;
      &:before {
        content: '';
      }
      &:after {
        display: block;
        width: 2.5rem;
        height: 1px;
        margin: .625rem auto 0;
        content: '';
        background-color: rgba(255, 255, 255, .25);
      }
    }
  }
  .carousel-indicators {
    position: inherit;
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0 0 2.1875rem;
    img {
      width: 45px;
      height: 45px;
      margin: 5.5px auto 0;
      border: 3px solid #fff;
      transition: all .1s ease-in-out;
    }
    li {
      width: 60px;
      height: 60px;
      margin: 0;
      text-indent: inherit;
      border: 0;
      border-radius: 0;
      opacity: .5;
      transition: opacity .2s;
      &:hover {
        opacity: .9;
      }
      &.active {
        margin: 0;
        background-color: transparent;
        opacity: 1;
        img {
          width: 56px;
          height: 56px;
          margin-top: 0;
          border: 4px solid #fff;
        }
      }
    }
  }
}

/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}
